asgiref==3.11.1
branca==0.8.2
certifi==2026.5.20
charset-normalizer==3.4.7
distlib==0.4.2
Django==5.2.1
django-dotenv==1.4.2
django-extensions==4.1
dotenv==0.9.9
filelock==3.29.1
folium==0.20.0
geopandas==1.1.4
idna==3.18
ijson==3.5.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.6
packaging==26.2
pandas==3.0.3
platformdirs==4.10.0
plotly==5.20.0
pyogrio==0.13.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.34.2
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
tenacity==9.1.4
urllib3==2.7.0
virtualenv==20.29.2
xyzservices==2026.3.0
