{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block header %}{{map.header.render|safe}}{% endblock %}

{% block content %}
<main id="home-page">
    {% if user.is_authenticated %}
    <div class="map-toggles"></div>
    <div class="map">
        {{map.html.render|safe}}
    </div>
    <script>
        {{map.script.render|safe}}
    </script>
    {% else %}
    <div class="login-card">
        {% if form.errors %}
            <div class="error-box">
                Invalid username or password.
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-btn">Login</button>
            <a href="{% url 'password_reset' %}" class="forgot-link">
                Forgot password?
            </a>
        </form>
    </div>
    {% endif%}
</main>
{% endblock %}