{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block header %}{{map.header.render|safe}}{% endblock %}

{% block content %}
<main id="home-page">
    {% if user.is_authenticated %}
    <div id="global-progress">
        <span id="global-signatures">Total Signatures Collected: {{ total_collected_signatures }}</span>
        <span id="global-registered-voters">Total Registered Voters: {{ total_registered_voters }}</span>
        <span id="global-percentage">Total Percentage Collected: {{ total_percentage|floatformat:2 }}%</span>
    </div>
    <div id="map-container">
        <div class="map-toggles">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div>
                        <label for="legis_dist">Select Legislative District:</label>
                        <select id="legis_dist" name="legis_dist" required>
                            <option value="">Select District</option>
                            {% for legislative_district in legislative_districts %}
                                <option value="{{ legislative_district.legis_dist }}">{{ legislative_district.legis_dist }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="collected_signatures">Add collected signatures:</label>
                        <input type="number" id="collected_signatures" name="collected_signatures" value="{{collected_signatures}}">
                    </div>
                    <div>
                        <label for="difficulty">Difficulty:</label>
                        <select id="difficulty" name="difficulty" required>
                            <option value="">Select Difficulty</option>
                            <option value="Easy" {% if difficulty == 'Easy' %}selected{% endif %}>Easy</option>
                            <option value="Medium" {% if difficulty == 'Medium' %}selected{% endif %}>Medium</option>
                            <option value="Hard" {% if difficulty == 'Hard' %}selected{% endif %}>Hard</option>
                        </select>
                    </div>
                    <div>
                        <label for="partners">Partners:</label>
                        <input type="text" id="partners" name="partners" value="{{partners}}">
                    </div>
                    <div class="checkbox-input">
                        <label for="partner_mobilized">Partner Mobilized:
                            <br>
                            <span class="helptext">*Check this box if at least one partner has mobilized.</span>
                        </label>
                        <input type="checkbox" id="partner_mobilized" name="partner_mobilized" {% if partner_mobilized %}checked{% endif %}>
                    </div>
        
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
        <div class="map">
            {{map.html.render|safe}}
        </div>
    </div>
    
    <script>
        {{map.script.render|safe}}

        var district_selection = document.getElementById('legis_dist');
        var difficulty_selection = document.getElementById('difficulty');
        var partners_input = document.getElementById('partners');
        var partner_mobilized_checkbox = document.getElementById('partner_mobilized');

        district_selection.addEventListener('change', function() {
            {% for district in legislative_districts %}
            if (this.value === "{{ district.legis_dist }}") {
                difficulty_selection.value = '{{ district.difficulty }}';
                partners_input.value = '{{ district.partners }}';
                partner_mobilized_checkbox.checked = {{ district.partner_mobilized|yesno:"true,false" }};
            }
            {% endfor %}
        });
    </script>
    {% endif %}
</main>
<footer>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout">Logout</button>
    </form>
    {% endif %}
</footer>
{% endblock %}