{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block header %}{{map.header.render|safe}}{% endblock %}

{% block content %}
<main id="home-page">
    {% if user.is_authenticated %}
    <div class="map-toggles">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="legis_dists">Select Legislative District to update:</label>
            <select name="legis_dists">
                {% for legislative_district in legislative_districts %}
                    <option value="{{ legislative_district.legis_dist }}">{{ legislative_district.legis_dist }}</option>
                {% endfor %}
            </select>

            {{ form.as_p }}

            <button type="submit" value="submit">Update</button>
        </form>
    </div>
    <div class="map">
        {{map.html.render|safe}}
    </div>
    <script>
        {{map.script.render|safe}}
    </script>
    {% endif %}
</main>
<footer>
    {% if user.is_authenticated %}
    <button type="submit" class="logout">Logout</button>
    {% endif %}
</footer>
{% endblock %}